* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
   background-image: url("../images/city-bg.png"); 
   background-repeat: repeat;
   background-size: cover;
   padding: 10%;
}

button {
    border: 4px solid;
    padding: 10px;
}


