#create {
    margin-left: 30%;
}
#saveInfo {
    margin-left: 55%;
}

#profile {
    margin-left: 30%;
    padding: 5%;
    border: 1px solid red;
    width: 30vw;
    display: none;
}

#main p {
    font-size: 120%;
}

#profilePicture {
    width: 100%;
    height: 25%;
}

#seeFamily, #familyDisplay, #saveInfo {
    display: none;
}

@media all and (max-width:400px) {
    #profile {
        margin-left: 5%;
        width: 76vw;
    }
}
