<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Contact: Attributions</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <header>
        <h1 id="game-name"> Zero Contact: Pandemic Survival</h1>
        <ul id="navbar">
            <li class="nav"><a href="/" class="links">Home</a></li>
            <li class="nav"><a href="/about" class="links">About us</a></li>
            <li class="nav"><a href="/signup" class="links">Sign up</a></li>
            <li class="nav"><a href="/login" class="links">Log in / Play</a></li>
        </ul>
    </header>
    <h1>Assets</h1>
    <p>All of the assets used (background images / sprites / images) are sourced with links to the author (when possible) and the website it was found on.</p>
    <br>
    <p>Background image used in landing page: "City Background" by reis. Original image can be found <a
            href="http://pixeljoint.com/pixelart/83915.htm">here.</a></p>
    <p>Background image used in the minigame was obtained from a Unity package.</p>
    <br>
    <p>The images representing stats and all of the character sprites used in the event cards are hand made by our
        designer, Chris Yan.</p>
    <p>Character sprites that are used in the minigame portion of the game are by Kyle Steven Schaff <a
            href="https://twitter.com/gamekrazzy">(@gamekrazzy on twitter)</a>. The sprites were orginally obtained <a
            href="https://gamekrazzy.itch.io/8-direction-top-down-character?download">here.</a></p>
    <p>Food pixel art used in the minigame were made by Unity developer <a
            href="https://assetstore.unity.com/publishers/9216">Henry Software</a> and obtained from a free <a
            href="https://assetstore.unity.com/packages/2d/environments/free-pixel-food-113523">Unity package.</a> </p>
    <p>The coveted toilet paper used in the minigame section was found from searching "pixel toilet paper" on Google
        Images, posted on <a href="http://pixelartmaker.com/art/b6180e16e66c589">this site.</a> </p>
        <p>The gift card (mail) image used in the minigame was found <a href="">here.</a></p>
        <p>The hand sanitizer (water bottle) image used in the minigame was found <a href="">here.</a></p>
    <footer>
        <ul id="footer-nav">
            <img src="images/favicons/favicon-32x32.png" alt="app logo" width="60px" height="60px">
            <li class="footer-item"><a>Privacy Policy</a></li>
            <li class="footer-item"><a>Attributions</a></li>
            <li class="footer-item"><a>Contact Us</a></li>
        </ul>
    </footer>
</body>

</html>