<DOCTYPE html>
    <html>

    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" type="text/css" href="css/CharacterStyle.css">
        <title>Not a suspicious website.exe.txt</title>
    </head>

    <body>
        <script src="js/characterCreator.js"></script>
        <script src="index.js"></script>
        <p style="display: none"><%= username %></p>

        <form action="/game" method="post">
            <div id="top">
                <input id="create" type="button" value="Create Character" onclick=loadCharacterPage()>
            </div>

            <p>
                <!-- empty space-->
            </p>
            <div id="profile">
                <div id="main">
                    <img id="profilePicture"
                        src="https://cdn.cnn.com/cnnnext/dam/assets/150601174854-15-menswear-dog-0601-super-169.jpg"
                        alt="placeholder">
                    <p id="name"></p>
                    <p id="gender"></p>
                    <p id="age"></p>
                    <p id="family"></p>
                    <p id="familyLabel"></p>
                </div>
                <input id="seeFamily" type="button" value="See Family" onclick=seeNext()>
                <div id="family">
                    <p id="familyDisplay">
                        <!-- info goes here -->
                    </p>
                </div>
                <br>
                <input type="submit" value="Choose this profile">
                <!--Username-->
                <input style="display:none" type="text" value="<%= username %>" name="username">
                <!--Randomly generated stuff-->
                <input id="sendName" style="display:none" type="text" value="failedName" name="characterName">
                <input id="sendAge" style="display:none" type="text" value="failedAge" name="characterAge">
                <input id="sendGender" style="display:none" type="text" value="failedGender" name="characterGender">
            </div>

        </form>

        <aside>
            <p>
                Disclaimer: Any names and pictures in this game are purely fictional.
                And any relation to real-life persons is clearly coincidental and not
                representative of that person or thing.
            </p>
        </aside>
    </body>

    </html>
</DOCTYPE>