<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>Zero Contact</title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
        integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
 
    <link rel="stylesheet" href="css/custom-bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/inventory-style.css">
    <link rel="stylesheet" href="css/achievements.css">
    <link rel="stylesheet" href="css/tutorial-popup-style.css">
</head>

<body>
    <p id="user" style="display: none"><%= username %></p>

    <!-- Game Over Modal -->
    <div class="modal fade monospace-font" id="game-over-wrapper" tabindex="-1" role="dialog"
        aria-labelledby="gameOverModal" aria-hidden="true">
        <div id="game-over" class=" modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-0 greenish-background">
                <div class="modal-header rounded-0 blue-background">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button id="game-over-redirect" type="button" class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
    </div>
    <!-- --------------- -->

    <!-- Weekly Update Modal -->
    <div class="modal fade monospace-font" id="weekly-update-wrapper" tabindex="-1" role="dialog"
        aria-labelledby="weeklyUpdateModal" aria-hidden="true">
        <div id="weekly-update" class=" modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-0 greenish-background">
                <div class="modal-header rounded-0 blue-background">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="weekly-update-text"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- --------------- -->

    <!-- Achievements Modal -->
    <div class="modal fade monospace-font" id="achievements-window-wrapper" tabindex="-1" role="dialog"
        aria-labelledby="achievementsWindow" aria-hidden="true">
        <div id="achievements-window" class=" modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-0 greenish-background">
                <div class="modal-header rounded-0 blue-background">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Tabs -->
                <ul id="modal-tabs" class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="list-group-item list-group-item-action active greenish-background" data-toggle="list"
                            href="#panel-profile" role="tab"><i class="fas fa-user fa-lg"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="list-group-item list-group-item-action greenish-background" data-toggle="list"
                            href="#panel-leaderboard" role="tab"><i class="fas fa-crown fa-lg"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="list-group-item list-group-item-action greenish-background" data-toggle="list"
                            href="#panel-navigation" role="tab"><i class="fas fa-bars fa-lg"></i></a>
                    </li>
                </ul>
                <div class="modal-body">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-profile" role="tabpanel">
                            <p>No content</p>
                        </div>
                        <div class="tab-pane" id="panel-leaderboard" role="tabpanel">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Survived Until Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Jack</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Bob</td>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Joe</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Jack</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Bob</td>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Joe</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Jack</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Bob</td>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Joe</td>
                                        <td>5</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="panel-navigation" role="tabpanel">
                            <div class="list-group list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action">Home Page</a>
                                <a href="#" class="list-group-item list-group-item-action">Another Page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tut Modal -->
    <div class="modal fade" id="tutorial-container" role="dialog">
        <div class="modal-dialog">
            <!-- Content -->
            <div id="tutorial-content" class="modal-content">
                <div id="tutorial-header" class="modal-header">

                </div>
                <div id="tutorial-body" class="modal-body">
                    
                </div>
                <div id="tutorial-footer" class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <!-- --------------- -->

    <div id="wrapper">
        <div id="stats-spacer" class="set-width" data-toggle="modal" data-target="#achievements-window-wrapper">
            <div id="dots-container">
                <div class="dot-wrapper">
                    <div id="dot-physical" class="dot"></div>
                </div>
                <div class="dot-wrapper">
                    <div id="dot-mental" class="dot"></div>
                </div>
                <div class="dot-wrapper">
                    <div id="dot-wealth" class="dot"></div>
                </div>
                <div class="dot-wrapper">
                    <div id="dot-supplies" class="dot"></div>
                </div>
            </div>
            <div id="stats-container" class="set-height">
                <img src="images/stats-overlay.png" id="stats-overlay" class="set-height">
                <div class="set-height">
                    <div id="physical" class="progress-bar" title="Physical Health Bar"></div>
                    <div id="mental" class="progress-bar" title="Mental Health Bar"></div>
                    <div id="wealth" class="progress-bar" title="Wealth Bar"></div>
                    <div id="supplies" class="progress-bar" title="Supplies Bar"></div>
                </div>
            </div>
            <span id="open-menu-hint">Click for Menu</span>
        </div>
        <div id="event-text" class="black-monospace set-width"><span></span></div>
        <div id="card-container" class="set-width"></div>
        <div id="name" class="set-width"><span class="black-monospace"></span></div>
        <div id="bottom" class="set-width">
            <div id="info">
                <div id="player-name">John Doe</div>
                <div id="day">Day 1</div>
            </div>
        </div>
        <div id="inventory-container" class="set-width">
            <button id="inventory-expand-button">Inventory</button>
            <div id="inventory-item-container"></div>
        </div>
        <div class="inventory-drop-zone">
            <h1>Drag item here to use it</h1>
        </div>
        
        <div class="modal fade" id="item-use-prompt" role="dialog">
            <div class="modal-dialog">
                <!-- Content -->
                <div id="item-use-content" class="modal-content">
                    <div id="item-use-header" class="modal-header">
                        <h2 id="item-use-heading">Use: </h2>
                        <button type="button" class="close" id="item-use-close" data-dismiss="modal">&times;</button>
                    </div>
                    <div id="item-use-body" class="modal-body">
                        <p id="item-use-description"></p>
                        <p id="item-use-effect"></p>
                    </div>
                    <div id="item-use-footer" class="modal-footer">
                        
                        <button class='item-use-button btn btn-primary' id="item-use-accept">Yes</button>
                        <button class='item-use-button btn btn-danger' id="item-use-decline">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div id="item-use-prompt">
            <h2 id="item-use-heading">Use: </h2>
            <p id="item-use-description"></p>
            <p id="item-use-effect"></p>
            <div id="item-use-button-container">
                <button class="item-use-button" id="item-use-accept">Yes</button>
                <button class="item-use-button" id="item-use-decline">No</button>
            </div>
            <button class="item-use-button" id="item-use-close">X</button>
        </div>
        --> 
    </div>

    <audio id="audio-background" loop>
        <source src="audio/sci-fi-ambience.wav" type="audio/wav">
    </audio>
    <audio id="audio-card-swipe">
        <source src="audio/button.wav" type="audio/wav">
    </audio>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"
        integrity="sha256-AAhU14J4Gv8bFupUUcHaPQfvrdNauRHMt+S4UVcaJb0=" crossorigin="anonymous"></script>

    <script src="js/custom-bootstrap.js"></script>
    <script src="js/audio.js"></script>
    <script src="js/card.js"></script>
    <script src="js/weekly-updates.js"></script>
    <script src="js/progress-bar.js"></script>
    <script src="js/inventory.js"></script>
    <script src="js/inventory-expand.js"></script>
    <script src="js/inventory-main.js"></script>
    <script src="js/screen-size.js"></script>
    <script src="/js/tutorial-popup.js"></script>
    <script src="/js/main-tutorial.js"></script>
</body>

</html>