<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Contact: Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <h1 id="game-name"> Zero Contact: Pandemic Survival</h1>
    <ul id="navbar">
        <li class="nav"><a href="/" class="links">Home</a></li>
        <li class="nav"><a href="/about" class="links">About us</a></li>
        <li class="nav"><a href="/signup" class="links">Sign up</a></li>
        <li class="nav"><a href="/login" class="links">Log in / Play</a></li>
    </ul>
    <main>
        <br>
        <h2>The game that keeps you informed and occupied during the pandemic.</h2>
        <br>
        <p>Do you have what it takes to survive a pandemic? Based off of COVID-19 (coronavirus), Zero Contact puts you
            in the role of an average citizen in an beyond average life. Can you make smart decisions to outsmart the
            virus until a vaccine is created?</p>
        <br>
        <p>We believe that during these hard times, we can help others be more informed of the measures that work and
            the consequences of actions that don't work in a fun way. We see the incredible work that doctors and
            essential workers do and appreciate the risks that they take everyday. We feel it is important to inform
            others so that we can all get back to our regular lives.</p>
    </main>
    <footer>
        <ul id="footer-nav">
            <img src="images/favicons/favicon-32x32.png" alt="app logo" width="60px" height="60px">
            <li class="footer-item"><a href="/privacy-policy" class="links">Privacy Policy</a></li>
            <li class="footer-item"><a href="/attributions" class="links">Attributions</a></li>
            <li class="footer-item"><a href="/contact-us" class="links">Contact Us</a></li>
        </ul>
    </footer>
</body>

</html>