<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Contact: Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <header>
        <h1 id="game-name"> Zero Contact: Pandemic Survival</h1>
        <ul id="navbar">
            <li class="nav"><a href="/" class="links">Home</a></li>
            <li class="nav"><a href="/about" class="links">About us</a></li>
            <li class="nav"><a href="/signup" class="links">Sign up</a></li>
            <li class="nav"><a href="/login" class="links">Log in / Play</a></li>
        </ul>
    </header>
    <br>
    <main>
        <p>Do you have what it takes to survive a pandemic? Based off of COVID-19 (coronavirus), Zero Contact puts you
            in the role of an average citizen in an beyond average life. Can you make smart decisions for you and your
            family, stay safe, and survive until a vaccine is created? </p>
        <br>
        <p>You will be living in a family of four. It is your responsibilty to make sure that your family is safe and
            healthy, based on the decisions you make. Will you venture outside to grab supplies at the risk of
            infection? Hang out with others against the orders of the government? Go out and exercise or stay at home?
            All of these choices play a role in deciding what comes first. Safety or sanity?
        </p>
        <br>

    </main>
    <footer>
        <ul id="footer-nav">
            <img src="images/favicons/favicon-32x32.png" alt="app logo" width="60px" height="60px">
            <li class="footer-item"><a>Privacy Policy</a></li>
            <li class="footer-item"><a>Attributions</a></li>
            <li class="footer-item"><a>Contact Us</a></li>
        </ul>
    </footer>
</body>

</html>