#achievements-window-wrapper .modal-dialog,
#achievements-window-wrapper .modal-content {
    height: 90%;
}

#achievements-window-wrapper .modal-body {
    max-height: calc(100vh - 120px);
    overflow-y: scroll;
}

.modal *, *::before, *::after {
  box-sizing: border-box;
}

#modal-tabs .list-group-item {
    padding: 0.4rem 0.6rem;
}

.modal-open {
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 0 !important;
}