body {
    background-image: url("../images/city-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    image-rendering: pixelated;
}

#wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Defines some space at the top of screen */
#stats-spacer {
    height: 110px;
    margin: auto;
    background-color: #222034;
    position: relative;
}

#stats-container {
    width: 65px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -25%) rotate(-90deg);
    transform-origin: center;
}

#stats-container>div {
    display: grid;
    margin-left: 18%;
    align-content: space-around;
    grid-template-rows: 4;
    grid-template-columns: 41px;
}

#stats-overlay {
    width: 65px;
    position: absolute;
    z-index: 1;
}

#dots-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    width: 280px;
    height: 30px;
    top: 3vh;
}

.dot-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    background-color: white;
    border-radius: 50%;
}

.progress-bar {
    height: 60px;
}

/* Automatically applied to progress bars */
.ui-progressbar-value {
    background-color: #807caf;
}

#open-menu-hint {
    position: absolute;
    width: inherit;
    text-align: center;
    z-index: 3;
    top: 0;
    padding-top: 0.4vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(6px + 0.9vh);
}

#event-text {
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #dddfcb;
}

#event-text>span {
    display: inline-block;
    padding: 0 15px;
    text-align: center;
}

#card-container {
    height: 200px;
    margin: auto;
    position: relative;
    background-color: #dddfcb;
    background-image: url("../images/left-right-arrows.png");
    background-size: contain;
}

#card {
    height: 100%;
    width: 71%;
    position: absolute;
}

#card-text {
    height: 16vh;
    padding: 5px;
    background-color: black;
    opacity: 0.7;
    display: none;
    align-items: center;
}

#card-text>span {
    display: inline-block;
    width: 100%;
    margin: 0 10px;
    text-align: center;
}

#name {
    height: 50px;
    margin: auto;
    background-color: #dddfcb;
    display: flex;
    align-items: center;
}

#name>span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#bottom {
    height: 70px;
    margin: auto;
    background-color: #222034;
    position: relative;
}

#info {
    position: absolute;
    width: 20vh;
    padding: 1vh 2vh;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 2.7vh;
    top: 2px;
    bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#day {
    padding-bottom: 1vh;
}

.large-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-shadow: -1px 1px 0 white,
        1px 1px 0 white,
        1px -1px 0 white,
        -1px -1px 0 white;
}

.white-monospace {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 2.8vh;
}

.black-monospace {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    font-size: 2.8vh;
}

.set-width {
    width: 280px;
}

.set-height {
    height: 280px;
}

#title-splash {
    margin: auto;
}

.landing-button {
    border: 1px solid #222034;
    border-radius: 2px;
    background-color: #807caf;
    padding: 3px;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

}

#play-button {
    border: 1px solid #222034;
    border-radius: 2px;
    background-color: #807caf;
    padding: 3px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

#sign-up {
    margin-top: 40px;
}

#about-us {
    margin-top: 80px;
}

#field1,
#field2 {
    z-index: 10;
    border: 1px solid #dddfcb;
    border-radius: 2px;
    height: 30px;
    width: 50%;
    color: black;
}

#submit {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#profile-pictures>img {
    border: 1px solid #807caf;
    border-radius: 40px;
    position: relative;
    bottom: 1%;
    z-index: 10;
    margin: 7px;
}

#tweet {
    position: absolute;
    left: 50%;
}

/* Profile stuff */

div#myProfile.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%);
    width: 290px;
    height: 290px;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#myProfileContent {
    background-color: #dddfcb;
    border: 1px solid red;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 2.8vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

#getProfile {
    height: 5vh;
    background-color: #222034;
    box-sizing: border-box;
    color: #dddfcb;
    border-color: #dddfcb;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 380px) {

    .white-monospace,
    .black-monospace {
        font-size: 2.6vh;
    }

    #info {
        font-size: 2.5vh;
    }
}