/* ------------------------------------------------------------------- */
/* Tutorial Screen styling */
/* ------------------------------------------------------------------- */

#tutorial-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.205);
}

#tutorial-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

#skip-button{
    float: left;
}

#tutorial-container img{
    width: 100%;
}

#tutorial-container h1{
    text-align: center;
}