* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
        background-image: url("../images/city-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
}

@media (min-width: 1025px) {

    header {
        display: grid;
        grid-template-rows: 100px 50px;
        grid-template-areas:
            "heading"
            "navbar";
    }

    #game-name {
        color: rgb(172, 23, 23);
        background-color: rgb(64, 167, 199);
        grid-area: heading;
        padding: 20px;
        margin: -8px;

    }

    #navbar {
        display: flex;
        background-color: rgb(64, 167, 199);
        justify-content: space-around;
        padding: 10px;
        margin: -8px;
        grid-area: navbar;
    }

    .links:link,
    .links:visited {
        color: black;
        text-decoration: none;
    }

    .links:hover {
        color: rgb(26, 223, 26);
    }

    .nav {
        list-style: none;
    }

    #team-info {
        display: grid;
        grid-template-rows: repeat(4, 200px);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "team team team team"
            "pic1 gabe pic2 chris"
            "pic3 matt pic4 tim"
            "pic5 micheal micheal micheal"
        ;
        margin: 2%;
        padding: 5%;
    }

    #gabe {
        grid-area: gabe;
    }

    #pic1 {
        grid-area: pic1;
    }

    #chris {
        grid-area: chris;
    }

    #pic2 {
        grid-area: pic2;
    }

    #matt {
        grid-area: matt;
    }

    #pic3 {
        grid-area: pic3;
    }


    #tim {
        grid-area: tim;
    }

    #pic4 {
        grid-area: pic4;
    }

    #micheal {
        grid-area: micheal;
    }

    #pic5 {
        grid-area: pic5;
    }

    #culture {
        grid-area: team;
        max-width: 1250px;
    }

    #account {
        display: grid;
        grid-template-rows: repeat(3, 50px);
        grid-template-columns: repeat(2, 250px);
        grid-template-areas:
            "username1 textbox1"
            "password1 textbox2"
            "blank submit"
        ;

        margin: 75px;
    }

    #login {
        font-weight: bold;
        float: left;
    }

    #signup {
        position: relative;
        float: left;
        top: 300px;
        right: 80px;
    }

    #username {
        grid-area: username1;
        margin-left: 130px;
        margin-top: 15px;
    }

    #field1 {
        grid-area: textbox1;
    }

    #password {
        grid-area: password1;
        margin-left: 130px;
        margin-top: 15px;
    }

    #field2 {
        grid-area: textbox2;
    }

    #submit {
        border-radius: 4px;
        grid-area: submit;
    }

    #newAccount {
        display: grid;
        grid-template-rows: repeat(3, 50px);
        grid-template-columns: repeat(2, 250px);
        grid-template-areas:
            "username1 textbox1"
            "password1 textbox2"
            "blank submit"
        ;

        margin: 75px;
    }

    footer {
        width: 100vw;
        display: block;
        overflow: hidden;
        padding: 70px 0;
        box-sizing: border-box;
        text-align: center;
        background-color: rgb(64, 167, 199);

    }

    #footer-nav {
        display: flex;
        justify-content: space-evenly;
    }

    .footer-item {
        list-style: none;
        padding: 20px;
    }


}

@media (min-width: 400px) and (max-width: 1024px) {
    header {
        display: grid;
        grid-template-rows: 100px 50px;
        grid-template-areas:
            "heading"
            "navbar";
    }

    #game-name {
        color: rgb(172, 23, 23);
        background-color: rgb(64, 167, 199);
        grid-area: heading;
        padding: 20px;
        margin: -8px;
    }

    #navbar {
        display: flex;
        background-color: rgb(64, 167, 199);
        justify-content: space-between;
        padding: 10px;
        margin: -8px;
        grid-area: navbar;
    }

    .links:link,
    .links:visited {
        color: black;
        text-decoration: none;
    }

    .links:hover {
        color: rgb(26, 223, 26);
    }

    .nav {
        list-style: none;
    }

    #team-info {
        display: grid;
        grid-template-rows: 40% repeat(5, 20%);
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "team team"
            "pic1 gabe"
            "pic2 chris"
            "pic3 matt"
            "pic4 tim"
            "pic5 micheal"
        ;
        gap: 25px;
    }

    #gabe {
        grid-area: gabe;
    }

    #pic1 {
        grid-area: pic1;
    }

    #chris {
        grid-area: chris;
    }

    #pic2 {
        grid-area: pic2;
    }

    #matt {
        grid-area: matt;
    }

    #pic3 {
        grid-area: pic3;
    }

    #tim {
        grid-area: tim;
    }

    #pic4 {
        grid-area: pic4;
    }

    #micheal {
        grid-area: micheal;
    }

    #pic5 {
        grid-area: pic5;
    }

    #culture {
        grid-area: team;
        max-width: 80%;
    }

    #account {
        display: grid;
        grid-template-rows: repeat(3, 50px);
        grid-template-columns: repeat(2, 250px);
        grid-template-areas:
            "username1 textbox1"
            "password1 textbox2"
            "blank submit"
        ;

        margin: 75px;
    }

    #login {
        font-weight: bold;
        float: left;
    }

    #signup {
        position: relative;
        float: left;
        top: 300px;
        right: 80px;
    }

    #username {
        grid-area: username1;
        margin-left: 130px;
        margin-top: 15px;
    }

    #field1 {
        grid-area: textbox1;
    }

    #password {
        grid-area: password1;
        margin-left: 130px;
        margin-top: 15px;
    }

    #field2 {
        grid-area: textbox2;
    }

    #submit {
        border-radius: 4px;
        grid-area: submit;
    }

    #newAccount {
        display: grid;
        grid-template-rows: repeat(3, 50px);
        grid-template-columns: repeat(2, 250px);
        grid-template-areas:
            "username1 textbox1"
            "password1 textbox2"
            "blank submit"
        ;

        margin: 75px;
    }
    
    footer {
        width: 100vw;
        display: block;
        overflow: hidden;
        padding: 70px 0;
        box-sizing: border-box;
        text-align: center;
        background-color: rgb(64, 167, 199);

    }

    #footer-nav {
        display: flex;
        justify-content: space-evenly;
    }

    .footer-item {
        list-style: none;
        padding: 20px;
    }
}

@media (max-width: 399px) {
    header {
        display: grid;
        grid-template-rows: 100px 100px;
        grid-template-areas:
            "heading"
            "navbar";
    }

    #game-name {
        color: rgb(172, 23, 23);
        background-color: rgb(64, 167, 199);
        grid-area: heading;
        padding: 20px;
        margin: -8px;
    }

    #navbar {
        display: flex;
        background-color: rgb(64, 167, 199);
        justify-content: space-between;
        flex-direction: column;
        padding: 10px;
        margin: -8px;
        grid-area: navbar;
    }

    .links:link,
    .links:visited {
        color: black;
        text-decoration: none;
    }

    .links:hover {
        color: rgb(26, 223, 26);
    }

    .nav {
        margin: 2px;
        list-style: none;
    }

    #team-info {
        display: grid;
        grid-template-rows: 40% repeat(5, 20%);
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "team team"
            "pic1 gabe"
            "pic2 chris"
            "pic3 matt"
            "pic4 tim"
            "pic5 micheal"
        ;
        gap: 25px;
    }

    #gabe {
        grid-area: gabe;
    }

    #pic1 {
        grid-area: pic1;
    }

    #chris {
        grid-area: chris;
    }

    #pic2 {
        grid-area: pic2;
    }

    #matt {
        grid-area: matt;
    }

    #pic3 {
        grid-area: pic3;
    }

    #tim {
        grid-area: tim;
    }

    #pic4 {
        grid-area: pic4;
    }

    #micheal {
        grid-area: micheal;
    }

    #pic5 {
        grid-area: pic5;
    }

    #culture {
        grid-area: team;
        max-width: 80%;
    }

    #account {
        display: grid;
        grid-template-rows: repeat(3, 50px);
        grid-template-columns: repeat(2, 250px);
        grid-template-areas:
            "username1 textbox1"
            "password1 textbox2"
            "blank submit"
        ;

        margin: 75px;
    }

    #login {
        font-weight: bold;
        float: left;
    }

    #signup {
        position: relative;
        float: left;
        top: 300px;
        right: 80px;
    }

    #username {
        grid-area: username1;
        margin-left: 130px;
        margin-top: 15px;
    }

    #field1 {
        grid-area: textbox1;
    }

    #password {
        grid-area: password1;
        margin-left: 130px;
        margin-top: 15px;
    }

    #field2 {
        grid-area: textbox2;
    }

    #submit {
        border-radius: 4px;
        grid-area: submit;
    }

    #newAccount {
        display: grid;
        grid-template-rows: repeat(3, 50px);
        grid-template-columns: repeat(2, 250px);
        grid-template-areas:
            "username1 textbox1"
            "password1 textbox2"
            "blank submit"
        ;

        margin: 75px;
    }
    
    footer {
        width: 100vw;
        display: block;
        overflow: hidden;
        padding: 70px 0;
        box-sizing: border-box;
        text-align: center;
        background-color: rgb(64, 167, 199);

    }

    #footer-nav {
        display: flex;
        justify-content: space-evenly;
    }

    .footer-item {
        list-style: none;
        padding: 20px;
    }
}