<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Contact: About us</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <header>
        <h1 id="game-name"> Zero Contact: Pandemic Survival</h1>
        <ul id="navbar">
            <li class="nav"><a href="/home" class="links">Home</a></li>
            <li class="nav"><a href="/about" class="links">About us</a></li>
            <li class="nav"><a href="/signup" class="links">Sign up</a></li>
            <li class="nav"><a href="/login" class="links">Log in</a></li>
        </ul>
    </header>
    <br>
    <p>Our team culture and our members: </p>
    <section id="team-info">
        <p id="culture">We were interested in the way that narrative/storytelling can be used in games to entertain and
            educate - and we think that a resource management game is something that can do that effectively, while also
            fitting well into the medium of an interactive web app/mobile game. We think that life during COVID-19 is a
            story that needs to be told, and there can be a great benefit in telling that story in an informative way.
            Once we had our idea, everyone went to work. We all made sure that what we were doing was in relation to
            COVID-19 and that it would inform people. We always asked questions and made sure that we were building in
            the right direction. We got inspiration from both real-life and rogue adventure games. We are happy to help
            people navigate this hard and different time right now and in the future, if this ever comes up again.
        </p>
        <p id="gabe">Gabriel</p>
        <img src="images/gabriel.jpg" width="100px" id="pic1">
        <p id="micheal"> Micheal Lin</p>
        <img src="images/matt.jpg" width="100px" id="pic3">
        <p id="matt">Matt</p>
        <img src="images/micheal.jpg" width="100px" id="pic5">
        <p id="tim">Tim</p>
        <img src="images/tim.jpg" width="100px" id="pic4">
        <p id="chris">Chris</p>
        <img src="images/chris.png" width="100px" id="pic2">
    </section>
</body>

</html>