<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Contact: Contact us</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/webmanifest.json">
</head>
<body>
    <header>
        <h1 id="game-name"> Zero Contact: Pandemic Survival</h1>
        <ul id="navbar">
            <li class="nav"><a href="/" class="links">Home</a></li>
            <li class="nav"><a href="/about" class="links">About us</a></li>
            <li class="nav"><a href="/signup" class="links">Sign up</a></li>
            <li class="nav"><a href="/login" class="links">Log in / Play</a></li>
        </ul>
    </header>

    <main>
        <p>We at Zero Contact, we are always open to your feedback. Whether you want new features to be added, general feedback about the game, or want to ask us any questions, we are here.</p>
        <p>You can email us here: gbaluyut31@gmail.com</p>


    </main>
    <footer>
        <ul id="footer-nav">
            <img src="images/favicons/favicon-32x32.png" alt="app logo" width="60px" height="60px">
            <li class="footer-item"><a href="/privacy" class="links">Privacy Policy</a></li>
            <li class="footer-item"><a href="/attributions" class="links">Attributions</a></li>
            <li class="footer-item"><a href="/contact" class="links">Contact Us</a></li>
        </ul>
    </footer>
</body>
</html>
