<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Contact: Page not found</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <header>
        <h1 id="game-name"> Zero Contact: Pandemic Survival</h1>
        <ul id="navbar">
            <li class="nav"><a href="/" class="links">Home</a></li>
            <li class="nav"><a href="/about" class="links">About us</a></li>
            <li class="nav"><a href="/signup" class="links">Sign up</a></li>
            <li class="nav"><a href="/login" class="links">Log in / Play</a></li>
        </ul>
    </header>
    <br>
    <main>
        <p>Uh oh! We couldn't find the page you were trying to navigate to. It may be down temporarily or not exist
            anymore.</p>
        <p>We'll help you get back to what you were doing. Use any of the links of the navigation bar or the footer to
            get back to what you were doing.</p>
    </main>
    <br>
    <footer>
        <ul id="footer-nav">
            <img src="images/favicons/favicon-32x32.png" alt="app logo" width="60px" height="60px">
            <li class="footer-item"><a href="/privacy" class="links">Privacy Policy</a></li>
            <li class="footer-item"><a href="/attributions" class="links">Attributions</a></li>
            <li class="footer-item"><a href="/contact" class="links">Contact Us</a></li>
        </ul>
    </footer>
</body>

</html>