
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zero Contact: Log in</title>
        <link rel="stylesheet" href="style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
        <link rel="manifest" href="favicons/webmanifest.json">
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </head>
    
    <body>
        <header>
            <h1 id="heading"> Zero Contact: Pandemic Survival</h1>
            <ul id="navbar">
                <li class="nav"><a href="/" class="links">Home</a></li>
                <li class="nav"><a href="/about" class="links">About us</a></li>
                <li class="nav"><a href="/signup" class="links">Sign up</a></li>
                <li class="nav"><a href="/login" class="links">Log in / play</a></li>
            </ul>
        </header>
        <br>
        <section id="account">
            <input type="button" value="Return to Profile" onclick ="goBack()">
            <% for (let i = 0; i < Math.min(highscores.length, 10) ; i++) { %>
                <p><%= highscores[i].username %> -- <%= highscores[i].days %> Days</p>
                <br>
            <% } %>
        </section>
        
    </body>
    
    </html>