<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Contact: Privacy Policy</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <header>
        <h1 id="game-name"> Zero Contact: Pandemic Survival</h1>
        <ul id="navbar">
            <li class="nav"><a href="/" class="links">Home</a></li>
            <li class="nav"><a href="/about" class="links">About us</a></li>
            <li class="nav"><a href="/signup" class="links">Sign up</a></li>
            <li class="nav"><a href="/login" class="links">Log in / Play</a></li>
        </ul>
    </header>
    <br>
    <main>
        <p>For our development team at Zero Contact, we take pride in making sure your data is handled correctly and safely.
            This guarantee is ensured the moment you first enter our landing site, up until you leave. We
            ensure that we only collect necessary data that allows users to have a great experience with our game.</p>
        <br>
        <h1>Data that we collect:</h1>
        <p>Once you enter the site, you are already consenting to the use of cookies. For our entire site, we use
            cookies for uniquely Identifying users and providing personalized features that require them.</p>
        <br>
        <br>
        <p>Your username is used to uniquely identify you so that your highscore (days survived), the stats that your
            characters had, and tracking progression with achievements. </p>
        <br>
        <p>Your password is hashed before being stored in the database and is unhashed when logging into the site. Your
            password is never shared with anyone outside the Contact Zero development team.</p>
        <br>
        <h1>Visibility to others:</h1>
        <p>When you signup for our game through the account section of the site, you are automatically acknowledging
            that you consent to having your username being visible to other users on the site. This is for the use of
            the leaderboard, which displays player stats like how many day they survived, and the stats of the family
            members. Be mindful of using your real name in your username and avoiding any personal details that could identify you. 
            Please refrain from using inappropriate usernames and be aware of people with different ages and backgrounds.
        </p>
        <br>
    </main>

    <footer>
        <ul id="footer-nav">
            <img src="images/favicons/favicon-32x32.png" alt="app logo" width="60px" height="60px">
            <li class="footer-item"><a href="/privacy" class="links">Privacy Policy</a></li>
            <li class="footer-item"><a href="/attributions" class="links">Attributions</a></li>
            <li class="footer-item"><a href="/contact" class="links">Contact Us</a></li>
        </ul>
    </footer>
</body>

</html>