<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game over!</title>
    <link rel="stylesheet" href="public/style.css">
    <script src="stats.js"></script>
</head>

<body>
    <h1>You got infected!</h1>
    <p>You had a good run, surviving [x] days before catching the virus!</p>
    <!-- Redirects back to the gameplay, with all stats reset -->
    <button id="restart">Start Over</button>
    <!-- Redirects them to user profile, where leaderboard, password reset, and account can be viewed -->
    <button id="profile">Profile</button>
    <!-- Implement social media sharing -->
    <button id="share">Share to Social Media</button>

</body>

</html>