#top {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#saveInfo {
    float: right;
    margin-right: 20%;
}

#profile {
    float: left;
    width: 75%;
    margin-left: 25%;
    padding: 5%;
    border: 1px solid red;
    width: 30vw;
    display: none;
}

#main p {
    font-size: 120%;
}

#profilePicture {
    width: 100%;
    height: 25%;
}

#seeFamily, #familyDisplay, #saveInfo {
    display: none;
}

aside {
    float: right;
    width: 25%;
    padding: 0 2.5%;
}

@media all and (max-width:400px) {
    aside {
        float: none;
        width: 95%;
        padding: 0 2.5%;
    }

    #profile {
        margin-left: 5%;
        width: 76vw;
    }

    #profilePicture {
        height: 35%;
    }
}
