html, body{
    margin: 0;
    padding: 0;
    user-select: none;
}

#inventory-grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 280px;
    height: 500px;
    padding: 0px 50px;
    overflow: scroll;
    outline: 10px double black;
}

#minigame-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.store-shelf-container{  
    display: grid;
    background-color: grey;
    margin: 50px;
    padding: 20px;
    outline: 2px double black;
    outline-width:5px;
    width: 100%;
    height: 100%;
}

.inventory-container{
    display: fixed;
    position: absolute;
    bottom: 100;
}

#inventory-grid-container::-webkit-scrollbar {
    display: none;
}