html, body{
    margin: 0;
    padding: 0;
}

.inventory-drop-zone{
    position: fixed;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 40%;
    text-align: center;
    background-color: rgba(218, 218, 218, 0.281);
    font-size: 25px;
    z-index: 3;
}

.inventory-drop-zone-hover{
    background-color: rgba(23, 235, 23, 0.445);
}

#inventory-container {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    display: flex;
    height: 20px;
    width: 280px;
    flex-direction: column;
    transition: 0.3s;
}

#inventory-expand-button {
    height: 50px;
    background-color: #222034;
    box-sizing: border-box;
    color: #dddfcb;
    border-color: #dddfcb;
}

#inventory-item-container{
    display: grid;
    padding: 0px 0px;
    justify-content: space-around;
    grid-gap: 10px;
    float: left;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fill, 100px);
    height: 100%;
    background-color: grey;
    overflow-y: auto;
}

.inventory-item {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border-radius: 20px;
    box-shadow: 0 0 0px rgb(255, 243, 79);
    text-align: center;
}

.inventory-item img {
    float: left;
    width: 100px;
    height: 100px;
}

.inventory-item h1{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 30px;
}

.inventory-item-placeholder{
    background-color: rgb(68, 68, 68);
    border-radius: 20px;
}

.inventory-item .tooltip {
    position: fixed; /** depends on how it handles the e.pageX and e.pageY **/
    width: 80px;
    height: 30px;
    background: #06F;
    z-index: 10;
    display: none; /**let the tooltip be not visable, when startup **/
}

/*-------------------------------------------------------------------------------*/
/*   Item usage prompt styling*/
/*-------------------------------------------------------------------------------*/

#item-use-prompt {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 0;
    background-color: rgba(185, 185, 185, 0.692);
    opacity: 0;
    z-index: 3;
}

#item-use-heading{
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#item-use-description{
    font-size: 30px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#item-use-effect{
    font-size: 20px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-bottom: 50px;
}

#item-use-button-container{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 50%;
}

.item-use-button{
    width: 150px;
}

#item-use-close{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

#item-use-accept{
    background-color: rgba(155, 255, 155, 0.788);
}

#item-use-decline{
    background-color: rgba(255, 155, 155, 0.788);
}
